<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.tagsinput.css' %}">
  
  <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.tagsinput.js' %}"></script>
  <style>
  </style>
</head>

<script> 
// Ajax GET data engine //
$.extend({
    xResponse: function(url, data) {
        var theResponse = null;
        $.ajax({
            url: url,
            data: data,
			type: "GET",
            dataType: "json",
            async: false,
            success: function(respText) {
                theResponse = respText;
            }
        });
        return theResponse;
    }
});

// Ajax GET data engine NON JSON //
$.extend({
    zResponse: function(url, data) {
        var theResponse = null;
        $.ajax({
            url: url,
            data: data,
			type: "GET",
            async: false,
            success: function(respText) {
                theResponse = respText;
            }
        });
        return theResponse;
    }
});
// Ajax POST data engine //
$.extend({
    yResponse: function(url, data) {
        var theResponse = null;
        $.ajax({
            url: url,
            data: data,
			type: "POST",
            dataType: "json",
            async: false,
            success: function(respText) {
                theResponse = respText;
            }
        });
        return theResponse;
    }
});

$( document ).ready(function() {
	$( "#AddCommunity" ).click(function() {
		var requestFormData={Form:"Yes"};
		var communityForm = $.zResponse("/community/sendCommunityForm",requestFormData);
		$('#communityModalBody').html(communityForm);
		$('#CommunityModalTitle').html("Add New Community");
		$('#CommunityModal').modal('show');
	});
	
	$( "#AddDatatype" ).click(function() {
		var requestFormData={Form:"Yes"};
		var communityForm = $.zResponse("/community/sendDatatypeForm",requestFormData);
		$('#DatatypeModalBody').html(communityForm);
		$('#datatypeModalTitle').html("Add New Datatype");
		$('#DatatypeModal').modal('show');
	});
	

	var tagSearch = function() {
		$.ajax({
            url: "/community/searchTag",
            data: {
				'search_text' : $('#id_Community_Name').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			type: "GET",
            dataType: "html",
            success: searchResult
        });			
	};	
	function searchResult(data, textStatus, jqXHR){
		$('#id_Community_Tags').val(data.trim());
	}
	$("body").on('keyup', "#id_Community_Name", tagSearch);
	$('#id_Community_Tags').tagsInput({width:'auto'});
	//////////////////////////////////////////////////
	//////////////////////////////////////////////////
	var tagSearchDt = function() {
		$.ajax({
            url: "/community/searchTag",
            data: {
				'search_text' : $('#id_Datatype_Name').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			type: "GET",
            dataType: "html",
            success: searchResultDt
        });			
	};	
	function searchResultDt(data, textStatus, jqXHR){
		$('#id_Datatype_Tags').val(data.trim());
	}
	$("body").on('keyup', "#id_Datatype_Name", tagSearchDt);
	$('#id_Datatype_Tags').tagsInput({width:'auto'});
	
	
	$('#createCommunity').submit(function(event){
			event.preventDefault();
			var data = new FormData($('#createCommunity').get(0));
			console.log($("input[name=csrfmiddlewaretoken]").val());
			$.ajax({
				type:'POST',
				url: '/community/CreateCommunity/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "html",
				success: CommunityCreateResult			
			});
	});
	
	function CommunityCreateResult(data, textStatus, jqXHR){
		$('#communityModalBody').html(data);
	}
	//////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////
	
		$('#createDatatype').submit(function(event){
			event.preventDefault();
			var data = new FormData($('#createCommunity').get(0));
			console.log($("input[name=csrfmiddlewaretoken]").val());
			$.ajax({
				type:'POST',
				url: '/community/CreateCommunity/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "html",
				success: CommunityCreateResult			
			});
	});
	
	function CommunityCreateResult(data, textStatus, jqXHR){
		$('#communityModalBody').html(data);
	}
	
	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////
	
	$( 'p' ).click(function() {
		var Cname = $(this).attr('hash');
		console.log(Cname)
		var datatypeParam={showDataTypes:Cname};
		var dt = $.zResponse("/community/sendDatatypePage",datatypeParam);
		window.location = '/community/sendDatatypePage/?showDataTypes='+Cname;							
	});
	
	$( 'a' ).click(function() {
		var Dtname = $(this).siblings("p")[0].innerHTML;
		var PostParam={showPost:Dtname};
		var dt = $.zResponse("/community/sendPostPage",PostParam);
		window.location = '/community/sendPostPage/?showPosts='+Dtname;							
	});
	
	$( '#Edit_Post' ).click(function() {
		var htmlText='<table class="table"><tr><th>name</th><th>PrimitiveType</th><th>Required</th><th>Show on List</th><tr>';
		{% for tf in table_fields %}
			htmlText += '<tr>';
			htmlText += '<td>{{tf.name}}</td>';
			htmlText += '<td>{{tf.relatedPrimitives}}</td>';
			htmlText += '<td>{{tf.fieldRequired}}</td>';
			htmlText += '<td>{{tf.fronttableShow}}</td>';
			htmlText += '</tr>';
		{% endfor %}
		htmlText += '</table>';
		$('#communityModalBody').html(htmlText);
		$('#CommunityModalTitle').html("Edit Data Types");
		$('#CommunityModal').modal('show');
	});
	
});

</script>
<body>

<!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input id="searchBar" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
                <img class="img-profile rounded-circle" src="">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/community/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/community/logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
				  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
	</div>
        <!-- End of Topbar -->

  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav d-flex">
    </div>
    <div class="col-sm-8 text-left"> 
	  {% block content %}{% endblock %}
      <hr>
    </div>
    <div class="col-sm-2 sidenav d-flex">
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright Communityverse 2019</p>
</footer>

</body>
</html>
