  <style>
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
	width: 90%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
  </style>
  {% extends "base.html" %} 
{% block content %}
  <button type="button" id="Add_Post" class="btn btn-outline-secondary btn-sm">Add Post</button>
  <button type="button" id="Edit_Primitive" class="btn btn-outline-secondary btn-sm">Edit Datatypes</button>
  <br>
  <br>
  <b>{{ Community_Name.0.name }} > {{ Datatype_Name.0.name }}</b> 
  <br>
  <br>
  <div id="Datatypes_list">
  <table class="table">
  {% for hd in table_fields %}
	<th>{{ hd }}</th>
  {% endfor %}
  {% for dt in post_resp %}
	<tr>
		 <td>{{ dt.1.name }}</td>
		 <td>{{ dt.1.Height }}</td>
		 <td>{{ dt.1.image }}</td>
		 <td>{{ dt.1.Location }}</td>
	</tr>
  {% endfor %}
  </table>
	<!-- Modal -->
	<div class="modal fade" id="CommunityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="CommunityModalTitle"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="container">
					<div class="row p-3" id="PrimitiveTable">
						<div class="col-sm-2">
							Name
						</div>
						<div class="col-sm-2">
							Type
						</div>
						<div class="col-sm-2">
							Required
						</div>
						<div class="col-sm-2">
							Show
						</div>
						<div class="col-sm-2">
							Enumerations
						</div>
						<div class="col-sm-2">
							Action
						</div>
					</div>  
				</div>
				<div id="communityModalBody" class="modal-body">
				</div>
				<div class="modal-footer justify-content-between">
					<form method="post" action="" id="Add_Primitive" enctype="multipart/form-data">
						{% csrf_token %}
						<div id="AddPrimitives" class="p-3">
							<button type="submit" class="btn btn-outline-primary mr-auto"><i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
							<input type="checkbox" name="Enumeration" id="enumcheck"><label for="enumcheck">Enumeration?</label> 				
						</div>
					</form>	
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


<!-- Modal -->
	<div class="modal fade" id="AddPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="AddPostTitle"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="AddPostBody" class="modal-body">
				</div>
				<div class="modal-footer justify-content-between">
					<form method="post" action="" id="Add_Primitive" enctype="multipart/form-data">
						{% csrf_token %}
						<div id="AddPrimitives" class="p-3">
							<button type="submit" class="btn btn-outline-primary mr-auto"><i class="fa fa-plus" aria-hidden="true"></i> Submit Post</button>
						</div>
					</form>	
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<div class="pagination">
    <span class="step-links">
        {% if post_resp.has_previous %}
            <a href="http://18.219.3.42:8000/community/sendPostPage/?showPosts={{ Datatype_Id }}&page=1">&laquo; first</a>
            <a href="http://18.219.3.42:8000/community/sendPostPage/?showPosts={{ Datatype_Id }}&page={{ post_resp.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_resp.number }} of {{ post_resp.paginator.num_pages }}.
        </span>

        {% if post_resp.has_next %}
            <a href="http://18.219.3.42:8000/community/sendPostPage/?showPosts={{ Datatype_Id }}&page={{ post_resp.next_page_number }}">next</a>
            <a href="http://18.219.3.42:8000/community/sendPostPage/?showPosts={{ Datatype_Id }}&page={{ post_resp.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div></div>
{% endblock %}

